@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,300,500);


body { font-family: 'IBM Plex Sans'; }
h1, h2, h3, h4 { font-family: 'IBM Plex Sans'; }
.remark-code, .remark-inline-code { font-family: 'IBM Plex Sans'; }


.remark-slide-content {
  background-color: #FFFFFF;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  padding: 1em 2em 1em 2em
}

.title-slide .inverse .remark-slide-content {
  background-color: #0A214F;
}

.inverse {
  background-color: #0A214F;
  text-shadow: none;
}

.inverse-title {
  background-color: #492515;
  text-shadow: none;
  position: fixed;
  bottom: 0px;
  left: 0;
  padding: 10px 30px;
  
}

.inverse-title h1, .inverse-title h2, .inverse-title h3, .inverse-title h4 {
  color: #F7F9F7;
}

.inverse-title h4 {
  color: #F7F9F7;
  padding-bottom: 10px;
}

h1 {
  font-weight: normal;
  margin-top: -95px;
  margin-left: -00px;
  color: #000000;
}

h2, h3, h4 {
  padding-top: -10px;
  padding-bottom: 00px;
  color: #000000;
  text-shadow: none;
  font-weight: 300;
  text-align: left;
  margin-left: 00px;
  margin-bottom: -10px;
}

.remark-slide-content h1 {
  font-size: 45px;
}

.remark-slide-content h2 {
  font-size: 35px;
}

.remark-slide-content h3 {
  font-size: 30px;
}

.left-column h2, .left-column h3, .left-column h4 {
  color: #777;
}

.left-column h2:last-of-type, .left-column h3:last-child {
  color: #1A292C;
}

/* --- Title Slide Stuff --- */

.title-slide {
  background-color: #0A214F;
}

.title-slide h1  {
  color: #FFFFFF;
  font-size: 40px;
  text-shadow: none;
  font-weight: 400;
  text-align: left;
  margin-left: 15px;
  padding-top: 115px;
}

.title-slide h2  {
  color: #FFFFFF;
  font-size: 35px;
  text-shadow: none;
  font-weight: 300;
  text-align: left;
  margin-left: 15px;
  padding-top: 10px;
}

.title-slide h3  {
  color: #FFFFFF;
  font-size: 30px;
  text-shadow: none;
  font-weight: 300;
  text-align: left;
  margin-left: 15px;
  padding-top: 10px;
}

.title-slide h4  {
  color: #FFFFFF;
  font-size: 25px;
  text-shadow: none;
  font-weight: 300;
  text-align: left;
  margin-left: 15px;
  padding-top: 10px;
}

.remark-slide-number {
  font-size: 13pt;
  color: #272822;
  opacity: 1;
}
.inverse .remark-slide-number {
  font-size: 13pt;
  color: #FAFAFA;
  opacity: 1;
}

/* turns off slide numbers for title page: https://github.com/gnab/remark/issues/298 */
.title-slide .remark-slide-number {
  display: none;
}

.remark-inline-code {
  /* background: #F5F5F5; /* lighter */
  background: #e7e8e2; /* darker */
  border-radius: 3px;
  padding: 4px;
}

.code10 .remark-code {
  font-size: 10%;
}

.code20 .remark-code {
  font-size: 20%;
}

.code30 .remark-code {
  font-size: 30%;
}

.code40 .remark-code {
  font-size: 40%;
}

.code50 .remark-code {
  font-size: 50%;
}

.code60 .remark-code {
  font-size: 60%;
}

.code70 .remark-code {
  font-size: 70%;
}

.code80 .remark-code {
  font-size: 80%;
}

.code90 .remark-code {
  font-size: 90%;
}

.code100 .remark-code {
  font-size: 100%;
}

.font10 {
  font-size: 10%;
}

.font20 {
  font-size: 20%;
}

.font30 {
  font-size: 30%;
}

.font40 {
  font-size: 40%;
}

.font50 {
  font-size: 50%;
}

.font60 {
  font-size: 60%;
}

.font70 {
  font-size: 70%;
}

.font80 {
  font-size: 80%;
}

.font90 {
  font-size: 90%;
}

.font100 {
  font-size: 100%;
}

.font110 {
  font-size: 110%;
}

.font120 {
  font-size: 120%;
}

.font130 {
  font-size: 130%;
}

.font140 {
  font-size: 140%;
}

.font150 {
  font-size: 150%;
}

.font160 {
  font-size: 160%;
}
.font170 {
  font-size: 170%;
}
.font180 {
  font-size: 180%;
}
.font190 {
  font-size: 190%;
}
.font200 {
  font-size: 200%;
}

/* --- image position stuff --- */

.center2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-vertical {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* --- Citations stuff --- */

.bottomright{
  position: absolute;
  bottom: 32px;
  right: 32px;
  font-size: 18px;
}

.inverse-bottomright{
  position: absolute;
  bottom: 32px;
  right: 32px;
  font-size: 18px;
  color: #FFFFFF;
  text-align: right;
}

.bottomleft {
  position: absolute;
  bottom: 32px;
  left: 32px;
  font-size: 18px;
}

.inverse-bottomleft {
  position: absolute;
  bottom: 32px;
  left: 32px;
  font-size: 18px;
  color: #FFFFFF;
}

/* --- end of citation stuff ---  */

